.details {
    width: 90%;
    padding-top: 10px;
    margin-bottom: 30px;
    margin: auto;
    height: 90%;
    overflow-y: auto;
    

    .detailsBackNavigation {
        margin-left: 40px;
        margin-top: 40px;
        color: #545F7D;

        .backNavigationIcon {
            width: 60px;
            margin-right: 10px;
            margin-top: 2px;
        }

        .backNavigationText {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .detailsHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detailsTitle {
            margin-left: 10px;
            margin-top: 30px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #213F7D;
        }

        .detailButtons {
            display: flex;
            gap: 10px;

            .blacklist {
                border: 1px solid #E4033B;
                background-color: transparent;
                padding: 7px 14px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #E4033B;
            }

            .activate {
                border: 1px solid #39CDCC;
                background-color: transparent;
                padding: 7px 14px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #39CDCC;
            }
        }
    }


    .userInfo{

    }
}
